body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.calculator {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1f2937;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #374151;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.9);
}

button:hover {
    background: #4b5563;
}

.history-box {
    margin-top: 15px;
    padding: 10px;
    background: #0f172a;
    border-radius: 10px;
    width: 280px;
    max-height: 180px;
    overflow-y: auto;
    font-size: 14px;
}


/* Light Mode */

.light {
    background: #f1f5f9;
    color: black;
}

.light .calculator {
    background: white;
}

.light #display {
    background: #e2e8f0;
    color: black;
}

.light button {
    background: #cbd5e1;
    color: #111827;
}

.light button:hover {
    background: #94a3b8;
    color: black;
}

.light .history-box {
    background: #e2e8f0;
    color: black;
}