body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: Arial;
}

.calculator {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 260px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    background: #1f2937;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #374151;
    color: white;
    transition: 0.2s;
}

/* hover effect */
button:hover {
    background: #4b5563;
    transform: scale(1.05);
}

/* special buttons */
button:nth-child(1) {
    background: #ef4444;
}

button:nth-child(4) {
    background: #f59e0b;
}

button:nth-child(16) {
    background: #22c55e;
}